services:
  devswiss:
    build: .
    container_name: devswiss-app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped

  umami:
    image: ghcr.io/umami-software/umami:postgresql-v2.13.2
    container_name: umami
    restart: always
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      APP_SECRET: ${UMAMI_APP_SECRET}
      APP_URL: ${UMAMI_APP_URL}
      BASE_PATH: ${UMAMI_BASE_PATH}
    depends_on:
      - postgres
    ports:
      - "127.0.0.1:3001:3000"

  postgres:
    image: postgres:14
    container_name: umami-postgres
    restart: always
    env_file:
      - .env
    volumes:
      - umami_postgres_data:/var/lib/postgresql/data

volumes:
  umami_postgres_data: